<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarClasePresencial</servlet-name>
        <servlet-class>servlets.SolicitarClasePresencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DejarTrabajo</servlet-name>
        <servlet-class>servlets.DejarTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contactar</servlet-name>
        <servlet-class>servlets.Contactar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarContrasena</servlet-name>
        <servlet-class>servlets.RecuperarContrasena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivo</servlet-name>
        <servlet-class>servlets.SubirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>servlets.CerrarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarDatos</servlet-name>
        <servlet-class>servlets.EditarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClasePresencial</servlet-name>
        <servlet-class>servlets.EditarClasePresencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarClasePresencial</servlet-name>
        <servlet-class>servlets.EliminarClasePresencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTrabajo</servlet-name>
        <servlet-class>servlets.EliminarTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarArchivo</servlet-name>
        <servlet-class>servlets.EditarArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTrabajo</servlet-name>
        <servlet-class>servlets.EditarTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajarArchivo</servlet-name>
        <servlet-class>servlets.bajarArchivo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarClasePresencial</servlet-name>
        <url-pattern>/clasePresencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DejarTrabajo</servlet-name>
        <url-pattern>/trabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactar</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarContrasena</servlet-name>
        <url-pattern>/recuperar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivo</servlet-name>
        <url-pattern>/subirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarDatos</servlet-name>
        <url-pattern>/editarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClasePresencial</servlet-name>
        <url-pattern>/modificarClasePresencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarClasePresencial</servlet-name>
        <url-pattern>/borrarClasePresencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTrabajo</servlet-name>
        <url-pattern>/borrarTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarArchivo</servlet-name>
        <url-pattern>/editarArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTrabajo</servlet-name>
        <url-pattern>/EditarTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajarArchivo</servlet-name>
        <url-pattern>/bajarArchivo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
